<div class="row">
  <div class="col-lg-10">
    <h1 class="page-header">Usuários</h1>
  </div>
  <div class="col-lg-2 text-right align-header">
    <%= link_to 'Novo Usuário', new_user_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to 'Editar', edit_user_path(user), class: "btn btn-xs btn-primary" %>
              <%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>