<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Temperature max:</strong>
  <%= @room.temperature_max %>
</p>

<p>
  <strong>Temperature minimum:</strong>
  <%= @room.temperature_minimum %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
