<!DOCTYPE html>
<html>
<head>
	<title>Arduino</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div id="wrapper">
    <%= render "shared/menu" %>

    <div id="page-wrapper" style="min-height: 725px;">
      <div id="notifications">
        <% flash.each do |name, message| %>
          <div class="alert fade in alert-<%= name == "notice" ? "success" : "danger" %>">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="fa fa-times"></i>
            </button>

            <% if message.is_a?(Array) %>
              <ul>
                <% message.each do |single_message| %>
                  <li><%= single_message %></li>
                <% end %>
              </ul>
            <% else %>
              <%= message %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
